<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sapeadita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../assets/images/icon/logo1.png">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/css/metisMenu.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="../assets/css/typography.css">
    <link rel="stylesheet" href="../assets/css/default-css.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
<!--     <link rel="stylesheet" href="../assets/css/email.multiple.css"> -->
	<link rel="stylesheet" href="../assets/css/demo_email.css">
	<link rel="stylesheet" href="../assets/css/taglist_email.css">
    <!-- modernizr css -->
    <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- cronometro css -->
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">

        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a th:href="@{/private/principal}"><img src="../assets/images/icon/logo1.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">

                            <li class="active"><a th:href="@{/private/principal}"><i class="ti-receipt"></i> <span>Programar Mensajes</span></a></li>
                         	<li><a th:href="@{/private/ayuda}"><i class="ti-help-alt"></i> <span>Ayuda</span></a></li>
							
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->

        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-12 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>

                        </ul>
                    </div>

                </div>
            </div>

            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left"><strong><span style="color: white;">Programar Mensajes</span></strong></h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="#">Inicio</a></li>
                                <li><span>Mensajes</span></li>
                            </ul>
                            <button type="button" class="btn btn-success mb-3" style="margin-left:10px" id="btnCrear" name="btnCrear">Crear</button>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="../assets/images/author/avatar.png" alt="avatar">
<!--                             <span th:if="${session.usuario!=null}">Hol@: <span th:text="${session.usuario.nombre}"></span></span> -->
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><span th:if="${session.usuario!=null}">Hol@: <span th:text="${session.usuario.nombre}"></span></span> <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
<!--                                 <a class="dropdown-item" href="#">Message</a> -->
<!--                                 <a class="dropdown-item" href="#">Settings</a> -->
                                <a class="dropdown-item" th:href="@{/login/exit}">Salir</a>
                            </div>
                        </div>
                    </div>
 
                </div>

            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
            
                <div class="row">

                    <!-- seo fact area start -->
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-6 mt-5 mb-3 mensajeProgramadoContainer" th:each="menpro: ${mensajeProgramado}">
                                <div class="card">
                                    <div class="seo-fact sbg5">
                                    	<input type="hidden" id="idMensajeView" name="idMensajeView" th:value="${menpro.idMensaje}">
										<input type="hidden" id="idUsuarioView" name="idUsuarioView" th:value="${menpro.idUsuario}">
										
										<input type="hidden" id="anioView" name="anioView" th:value="${menpro.anioView}">
										<input type="hidden" id="mesView" name="mesView" th:value="${menpro.mesView}">
										<input type="hidden" id="diasView" name="diasView" th:value="${menpro.diasView}">
										<input type="hidden" id="horasView" name="horasView" th:value="${menpro.horasView}">
										<input type="hidden" id="minutosView" name="minutosView" th:value="${menpro.minutosView}">
										<input type="hidden" id="segundosView" name="segundosView" th:value="${menpro.segundosView}">
										
										<input type="hidden" id="tituloView" name="tituloView" th:value="${menpro.titulo}">
										<input type="hidden" id="numerosView" name="numerosView" th:value="${menpro.celulares}">
										<input type="hidden" id="fechaProgramadaFormatView" name="fechaProgramadaFormatView" th:value="${menpro.fechaProgramadaFormat}">
										<input type="hidden" id="mensajeView" name="mensajeView" th:value="${menpro.mensaje}">
										<input type="hidden" id="estadoView" name="estadoView" th:value="${menpro.estado}">
										
                                    	
                                        <div class="p-4 d-flex justify-content-between align-items-center">
                                        	
                                            <div class="seofct-icon" style="margin-left: 10px; text-overflow: ellipsis;width: 100%;white-space: nowrap;overflow: hidden;"><i class="ti-email"></i><strong><span th:title="${menpro.titulo}" th:text="${menpro.titulo}"></span></strong></div>
                                        	<div class="cripto-live">
												<ul>
													<li>
														<span th:if="${menpro.estado=='0'}"><div class="icon a">A</div></span>
														<span th:if="${menpro.estado=='1'}"><div class="icon a">A</div></span>
														<span th:if="${menpro.estado=='3'}"><div class="icon i">I</div></span>
													</li>
												</ul>
											</div>
                                        </div>

                                        <div>
                                            <div class="seofct-icon" style="margin-left: 10px; text-overflow: ellipsis;width: 100%;white-space: nowrap;overflow: hidden;"><strong>Nro. Whatsapp:</strong><span th:title="${menpro.celulares}" th:text="${menpro.celulares}"></span></div>
                                        </div>
                                        <div>
                                            <div class="seofct-icon" style="margin-left: 10px; text-overflow: ellipsis;width: 100%;white-space: nowrap;overflow: hidden;"><strong>Programación:</strong><span th:title="${menpro.fechaProgramada}" th:text="${menpro.fechaProgramada}"></span></div>
                                        </div>
										<br>
										<div th:id="'cuenta-' + ${menpro.idMensaje}" style="display: flex; justify-content: center;  margin-bottom: 10px;"></div>
										<div style="margin-right: 10px; text-align: right;">
<!-- 											<button type="button" class="btn btn-danger mb-3"><strong>Cancelar</strong></button> -->
	                                    	<button type="button" class="btn btn-danger mb-3 btn_editar_alarmax"><strong>Editar</strong></button>
	                                    </div>
	                                    
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- seo fact area end -->
           
                </div>

            </div>
        </div>
        <!-- main content area end -->
       
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p><span style="color: white;">© Copyright 2023. All right reserved. </span><a th:href="@{/private/principal}">Sapeadita</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    
    
    <!-- Modal -->
    <div class="modal fade" id="div_producto">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_titulo">Actualizar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
						<div class="col-xs-12 col-sm-12">
							
							<form th:action="@{/private/grabarMensaje}"  method="POST" class="needs-validation" onsubmit="return miFuncionSubmit()" th:object="${mensaje}">	

								<input type="hidden" id="celulares" name="celulares">
								<input type="hidden" id="idMensaje" name="idMensaje">
								<input type="hidden" id="idUsuario" name="idUsuario">
								<input type="hidden" id="estado" name="estado">
								
								<div class="s-sw-title">
	                                <h5>Activo</h5>
	                                <div class="s-swtich">
	                                    <input type="checkbox" id="switch1" name="switch1" />
	                                    <label for="switch1">Toggle</label>
	                                </div>
	                                <h5>Inactivo</h5>
	                            </div>
                                <div class="form-group">
									<div class="col-sm-12">
                                        <label for="example-text-input" class="col-form-label"><strong>Título</strong></label>
                                        <input type="text" class="form-control" name="titulo" id="titulo" required>
                                	</div>
                                </div>
                                <div class="form-group">
									<div class="col-sm-12 tagtext-type">
										<label for="mobile-number-list" class="col-form-label"><strong>Números:</strong></label>
										<div id="mobile-number-list"></div>
										<label for="mobile-number-list" class="col-form-label" id="lbl_numeros" name="lbl_numeros">Agregar número (Ejemplo: 987654321) seguido de un espacio.</label>
									</div> 
									
                                </div>
                                <br>
                                <div class="form-group">
                                	<div class="col-sm-12">
	                                    <label for="example-datetime-local-input" class="col-form-label"><strong>Fecha y hora: </strong></label>
	                                    <input class="form-control" type="datetime-local" id="fechaProgramada" name="fechaProgramada">
                                    </div>  
                                </div>
                                
                                <div class="form-group">
                                	<div class="col-sm-12">
	                                    <label for="example-text-input" class="col-form-label"><strong>Mensaje: </strong></label>
	                                    <textarea class="form-control txtareamensaje" rows="3" aria-describedby="emailHelp" placeholder="Ingrese mensaje" name="mensaje" id="mensaje" required></textarea>
                                    </div>  
                                </div>
                                
                           
								<div class="modal-footer">
				                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				                    <button type="submit" class="btn btn-primary" id="btn_guardarMensaje">Guardar</button>
				                </div>
							</form>
						</div>
					</div>
                </div>
                
            </div>
        </div>
    </div>

    
    <!-- offset area end -->
    <!-- jquery latest version -->
<!--     <script src="../assets/js/vendor/jquery-2.2.4.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/metisMenu.min.js"></script>
    <script src="../assets/js/jquery.slimscroll.min.js"></script>
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="../assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="../assets/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="../assets/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="../assets/js/maps.js"></script>
    <!-- others plugins -->
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/scripts.js"></script>
    <script src="../assets/js/mantenimiento_alarmas.js"></script>
    <script type="text/javascript">
// 	var VAR_CONTEXT = '';
	</script>
	<script>
	

		var fecha = new Date();
	
  		var anioView = '[[${anioView}]]';
  		var mesView = '[[${mesView}]]';
  		var diasView = '[[${diasView}]]';
  		var horasView = '[[${horasView}]]';
  		var minutosView = '[[${minutosView}]]';
  		var segundosView = '[[${segundosView}]]';
//   		console.log("fecha "+fecha);
//   		console.log("anioView "+anioView);
//   		console.log("mesView "+mesView);
//   		console.log("diasView "+diasView);
//   		console.log("horasView "+horasView);
//   		console.log("minutosView "+minutosView);
//   		console.log("segundosView "+segundosView);

  		var editFecha = '[[${fechaProgramadaFormat}]]';
  		var useruser = '[[${useruser}]]';

  	    var mensajeProgramadoJson = '[[${mensajeProgramadoJson}]]';

  // Utiliza la variable en JavaScript
  
</script>

<!-- 	<script src="../assets/js/jquery.email.multiple.js"></script> -->
<!-- 	<script src="../assets/js/demo_email.js"></script> -->
<!-- 	<script src="../assets/js/taglist.jquery_email.js"></script> -->
	
	<script src="../assets/js/simplyCountdown.min.js"></script>
	<script src="../assets/js/countdown.js"></script>
<!-- 	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

</body>

</html>
